*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px 0;
}
header.wrapper{
    display: flex;s
}
.personal-info{
    display: flex;
    justify-content: center;
}
.main_photo img{
    max-width:100px;
    border-radius: 10px;
    border: 2px solid gray;
}
